@use "@/styles/variables" as *;

.container {
  align-items: center;
  background-color: $color-white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 254px;
  justify-content: center;
  padding: 20px;
  text-align: center;
  gap: 20px;
  width: 100%;
  min-width: 0;
  overflow: hidden;

  @include tablet-up {
    max-width: 344px;
  }

  @include desktop-up {
    max-width: 282px;
  }
}

.placeholder {
  width: 70px;
  height: 70px;
  background-color: $color-muted;
  border-radius: 50%;
}

.name {
  font-weight: $font-weight-regular;
  color: $color-text;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  max-width: 240px;
  min-width: 0;
}

.position {
  color: $color-text;
  font-size: 14px;
}

.email {
  color: $color-text;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  max-width: 240px;
  min-width: 0;
}

.phone {
  color: $color-text;
  font-size: 14px;
}
