@use "./styles/variables" as *;

:root {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  margin: 0;
  padding: 0;
}

.button-primary {
  align-items: center;
  background-color: $color-primary;
  border-radius: $border-radius-full;
  border: none;
  color: $color-text;
  cursor: pointer;
  display: inline-flex;
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: 400;
  height: 34px;
  justify-content: center;
  min-width: 90px;
  width: fit-content;
  padding: 0 16px;

  &:disabled {
    background-color: $color-disabled;
    cursor: not-allowed;
    color: $color-white;
  }

  &:disabled:hover {
    background-color: $color-disabled;
  }

  @include hover-support {
    background-color: $color-primary-hover;
  }
}

// TODO: Adjust input styles to match the design system
input,
textarea,
select {
  border-radius: $border-radius-sm;
  border: 1px solid $color-border;
  padding: 0.5rem;
  width: 100%;

  &:focus {
    border-color: $color-secondary;
    outline: none;
  }

  &.error {
    border-color: $color-error;
  }
}

.card {
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $shadow-card;
  margin-bottom: 1rem;
  padding: 1rem;
}
